@import "_variables.scss";
@import "_mixins.scss";

@font-face {
    font-family: 'Geomanist';
    src: url('../assets/fonts/geomanist-regular-webfont.eot');
    src: url('../assets/fonts/geomanist-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/geomanist-regular-webfont.woff2') format('woff2'),
         url('../assets/fonts/geomanist-regular-webfont.woff') format('woff'),
         url('../assets/fonts/geomanist-regular-webfont.ttf') format('truetype'),
         url('../assets/fonts/geomanist-regular-webfont.svg#geomanistregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
	background: url('../assets/images/background.jpg') no-repeat center center;
	background-attachment: fixed;
	background-size: cover;
	color: #fff;
	font-family: 'Geomanist', Arial, Helvetica, sans-serif;
	font-size: 15px;
}

.rocket {
	display: none;
}

img {
    max-width: 100%;
}

.page-wrapper {
    max-width: 1024px;
    margin: 0 auto;
    width: 100%;
}

h1 {
	font-size: 48px;
	font-weight: 500;
}

button {
	cursor: pointer;
}

header {
	color: $white;
	text-align: center;
	padding: 0 10px;
}

.message {
	text-align: center;

	&.error {
		color: red;
	}
}

.custom-checkbox {
    cursor: pointer;
	display: block;
	font-size: 14px;
	line-height: 22px;
    position: relative;
    padding-left: 35px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
	user-select: none;
	text-transform: uppercase;

	input {
		opacity: 0;
		position: absolute;
		cursor: pointer;
	}

	.checkmark {
		border: 1px solid $white;
		border-radius: 2px;
		height: 20px;
		left: 0;
		position: absolute;
		top: 0;
		width: 20px;
	}

	&:hover input ~ .checkmark {
		background-color: rgba(255, 255, 255, 0.15);
	}

	input:checked ~ .checkmark {
		&:before {
			background: url('../assets/images/checkmark.svg') no-repeat;
			background-size: 14px 11px;
			content: "";
			display: block;
			height: 11px;
			left: 3px;
			position: absolute;
			top: 4px;
			width: 14px;
		}
	}
}

@media (min-width: 768px) {
	h1 {
		font-size: 64px;
	}
}

@media (min-width: 1400px) {
	.rocket {
		@include align-vertical-center(fixed);
		background: url('../assets/images/rocket.png') no-repeat;
		background-size: 226px 213px;
		display: block;
		height: 213px;
		top: 50%;
		right: 100px;
		width: 226px;
		z-index: -1;
	}
}
